:root {
  --accent: 124, 58, 237;
  --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
}
html {
  font-family: system-ui, sans-serif;
  @apply bg-gray-900 text-white scroll-smooth;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  @apply bg-transparent;
}

*::-webkit-scrollbar-thumb {
  @apply bg-yellow-300;
}

.btn {
  @apply print:hidden inline-flex  items-center justify-center px-4 py-2 font-mono text-xs md:text-lg font-bold tracking-wide duration-300 bg-gray-900/80 text-gray-100 border-0 rounded-md  cursor-pointer ring-0 bg-opacity-90 hover:ring-2 hover:bg-opacity-80 focus-visible:ring-2 shadow-lg hover:shadow focus-visible:ring-offset-2 focus-visible:ring-white focus-visible:ring-opacity-75 focus:ring-2 ring-gray-800;
}

.btn.black {
  @apply bg-gray-700  text-gray-300 shadow-gray-800/50 outline-none ring-gray-600 print:text-gray-900 print:bg-gray-200;
}

.btn.red {
  @apply bg-red-300  text-red-900 shadow-red-500/50 outline-none ring-red-600 print:text-gray-900 print:bg-gray-200;
}

.btn.blue {
  @apply bg-indigo-300   text-indigo-900 shadow-indigo-500/50 outline-none ring-indigo-600 print:text-gray-900 print:bg-gray-200;
}

.btn.yellow {
  @apply bg-amber-300  text-amber-900 shadow-amber-500/50 outline-none ring-amber-600 print:text-gray-900 print:bg-gray-200;
}

.btn.green {
  @apply bg-emerald-400 text-emerald-700 shadow-emerald-500/50 outline-none ring-emerald-600 print:text-gray-900 print:bg-gray-200;
}
